.header-blog {
    background: linear-gradient(#FA8F9A, #FDF8F8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 20%;
    height: 400px;
}

.blog-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    font-family: 'Poppins', sans-serif;
}

.blog-submit h1 {
    color: #EC8590;
    font-weight: 600;
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
}

.blog-submit p {
    color: #E8848E;
    font-weight: 800;
    font-size: 16px;
}

.blog-submit a, .blog-submit button {
    width: 70%;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    font-size: 16px;
    background-color: #FA8F9A;
}

.grid-posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5% 10%;
    background-color: #FDF8F8;
}

.grid-posts h2 {
    font-size: 32px;
}

.grid-layout {
    font-family: 'Outfit', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.post-blog {
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.post-blog:hover {
    transform: translateY(-4px);
}

.post-blog h3 {
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
}

.post-blog p {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

.recent_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.recent {
    width: 41px;
    height: 41px;
}

@media(max-width: 782px) {
    .grid-layout{
        display: flex;
        flex-direction: column;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FDF8F8;
}

.pagination ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.pagination ul li{
    color: #E8848E;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.paginations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FDF8F8;
}

.paginations ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.paginations ul li{
    color: #8C93E2;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.paginations ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}
.paginations ul li.numb.first{
    margin: 0px 3px 0 -5px;
}
.paginations ul li.numb.last{
    margin: 0px -5px 0 3px;
}
.paginations ul li.dots{
    font-size: 22px;
    cursor: default;
}
.paginations ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
}



.pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}
.pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
    font-size: 22px;
    cursor: default;
}
.pagination ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
    color: #fff;
    background: #E8848E;
}

.paginations li.active,
.paginations ul li.numb:hover,
.paginations ul li:first-child:hover,
.paginations ul li:last-child:hover{
    color: #fff;
    background: #8C93E2;
}