
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (max-width:1156px) {
    
    .header-box{
        background-color: #F9F4F1;
        border-radius: 20px;
        width:300px;
        max-height: 400px;
       
        padding: 10px;
        margin: 20px 4px 20px;
    }
    .header-box-button{
        background-color: #E8848E;
        color:white;
        border-radius: 4px;
        font-size: 14px;
        max-width:120px;
        height: 60px;
    
       
        font-weight: bolder;
        font-family: Poppins;
       
       
        
    }
    .law-button{
        text-decoration: none;
        background-color: #E8848E;
        border-radius: 4px;
        color:white;
        font-weight: bolder;
        text-align: center;
        padding:8px;
        font-family: Poppins;
        min-width: 170px;

    }

    #article-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width:896px) {
    #header-box-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-box-button{
        background-color: #E8848E;
        color:white;
        border-radius: 4px;
        font-size: 14px;
        max-width:210px;
        height: 60px;
        font-weight: bolder;
        font-family: Poppins;  
    }
    #resources-header{
   /* background-image:url('../Images/resources-header.png');*/
   background-color: #f0d5d8;
   width: 100%;
  
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 15px;
}

}

@media (min-width:890)and (max-width:1120px) {

    .header-box-button{

        max-width:125px;
   
    }

}
#resource-whole-page{
    background-color: #F9F4F1;
    padding-bottom: 150px;
}
img{
    max-width: none;
}
.no-underline{
    text-decoration: none;
}
.law-button{
    text-decoration: none;
    background-color: #E8848E;
    border-radius: 4px;
    color:white;
    font-weight: bolder;
    text-align: center;
    padding:8px;
    font-family: Poppins;
}
.law-button:hover{
    opacity: 0.8;
}
#resources-header{
    background-image:url('../Images/resources-header.png');
   width: 100%;
  
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 15px;
}
#header-text{
    text-align: center;
    margin-top: 22px;
 
   
}




.header-text{
    font-size: 68px;
    font-weight: bolder;
   
    
}
#header-small-text{
    color: #C16265;
    font-weight:bolder;
}




#header-main-text{
    color:#E8848E;
    font-size: 52px;
    font-weight: bold;
    font-family: Poppins;
 
}
#header-small-text{
    color:#C16265;
    font-weight: bolder;
    font-family: Poppins;

}


.header-box{
    background-color: #F9F4F1;
    border-radius: 20px;
    width:420px;
   
    padding: 28px;
    margin: 20px 10px 20px;
}
#header-box-container{
    display: flex;
    justify-content: center;
}
.header-box-text{
    color:#E8848E;
    
}
.header-box-title{
    color:#E8848E;
    font-weight: bolder;
    font-size: 20px;
    font-family: Poppins;

}
.header-box-title-2{
    color:#E8848E;
    font-size: 20px;
    font-family: Poppins;

}

.header-box-button{
    background-color: #E8848E;
    color:white;
    border-radius: 4px;
    font-size: 14px;
    width:160px;

    padding:16px;
    font-weight: bolder;
    font-family: Poppins;
   
    
}
.header-box-button-container{
    margin-top: 50px;
}

.box-phone{
    background-color: #E8848E;
    border-radius: 4px;
    color:white;
    font-weight: bolder;
    text-align: center;
    padding:8px;
    font-family: Poppins;
}
.header-box-button-level-2{
    display: flex;
    justify-content: space-between;
 
}
#footer-note{
    text-align: center;
    color: #9A4E51;
    opacity: 50%;
}

.resource-section-sub-text{
    margin-left: 48px;
    color:#BA676F;
    font-family: Poppins;
    max-width: 800px;

}
.image-card{
    flex: 0 0 auto;
    width:400px;
    height: auto;
   
}
.image-card:hover{
    opacity: 0.6;
}

.resource-images {
     display: flex;
     gap:12px;
     scroll-snap-type: x mandatory;
     overflow-x: scroll;
     margin-left: 48px;
     margin-bottom: 28px;
     height:100%;
     white-space: nowrap;
}

.resource-images a {
    display: inline-block;
}

#resource-1{
    margin-top: 110px;
}
.resource-title{
    margin-top:80px;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 32px;
    color:#E8848E;
    margin-left: 48px
}

/* article card styling*/
#article-section{
    margin-bottom: 88px;

}
.article-card{
    background-color: #F9F4F1;
    width: 440px;
   
    border-radius: 10px;
    margin-left: 18px;
}
.article-section-title{
  
    border-radius: 10px;
    font-family: Poppins;
    font-size: 24px;
    font-weight:500;
    padding: 42px;
    background-color: #F7B1B8;
    color:white;

}
.article-info{
    background-color: #f8e6e7;
    padding:10px;
    margin-top: 5px;
    border-radius: 10px;
}
.article-info:hover{
    background-color: #F7B1B8;
    opacity: 60%;
    color:white;
}
.article-name{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    color:#C16265;
}

.author{
    color:#C16265;
    opacity: 50%;

}
.article-link{
    text-decoration: none;


}

.article-bottom{
    border-radius: 0px 0px 10px 10px;
}
#article-card-container{
    display: flex;
    justify-content: center;
}



#data-card{
    margin-left:90px;
}

